@import url('./normalize.css'); /*CSS Reset*/
@font-face {
  font-family: 'Orbitron';
  src: url('../assets/Orbitron-VariableFont_wght.ttf');
  font-display: swap;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Orbitron', cursive;
  font-size: 12px;
  color: #000;
  background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%); /* w3c */
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* site wrapper */
.wrapper {
  padding: 10px;
  margin: 0px;
}

/* bg animation */
.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

/* HEADER *******************************************************/
/* App.js */

header {
  display: flex;
  justify-self: center;
  justify-content: center;
}

header h1, header img {
  filter: drop-shadow(5px 5px 4px #4444dd);
}

header {
  position: relative;
  bottom: -10px;
  margin-bottom: 0px
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  header {
    position: relative;
    bottom: 0px;
    margin-bottom: 10px
  }
}

header img {
  width: 50px;
  height: 50px;
  margin-left: 10px; /* left spacing from h1 text */
}

/* h1 text and logo*/
.Tilt {
  width: 50vmin !important;
  height: inherit !important;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* TABS******************************************************/
/* App.js */
.tab-list {
  padding-left: 10px;
  margin: 0;
}

.tab-list li {
  font-size: 1.2em;
  font-family: 'Orbitron', cursive;
  color: #000;
  font-weight: 100;
  background-color: #ccc;
  border-left: 1px solid #999;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-bottom: none;
  cursor: pointer;
  z-index: 1;
  margin: 0 5px 0px 0;
}
.tab-list li:hover {
  background-color: #ffde37;
  color: #000;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  padding: 0.5rem 0.75rem;
  box-shadow: 4px 4px 8px 0px rgba( 0, 0, 0, 0.2 ); 
}

.tab-list-active {
  color: #fff !important;
  font-weight: 900 !important;
  z-index: 2 !important;
  border: none !important;
  box-shadow: none !important; 
}

.content {
  min-height: 100vh;
  padding: 20px;
}
.content, .tab-list-active {
  background-color: rgba(15, 15, 15, 0.3) !important;
}

/* FORMS*****************************************************/

/* ImageLinkForm.js bg */
.form {
  
  width: fit-content !important;

  /*

  min-width: 100vmax;
  width: 50vmin !important;
  height: inherit !important;
  */

  display: flex;
  justify-content: center;
  align-items: center;

  background:
  radial-gradient(circle farthest-side at 0% 50%,#333 23.5%,rgba(240,166,17,0) 0)21px 30px,
  radial-gradient(circle farthest-side at 0% 50%,#000 24%,rgba(240,166,17,0) 0)19px 30px,
  linear-gradient(#333 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#333 0)0 0,
  linear-gradient(150deg,#333 24%,#000 0,#000 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#000 0,#000 76%,#333 0)0 0,
  linear-gradient(30deg,#333 24%,#000 0,#000 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#000 0,#000 76%,#333 0)0 0,
  linear-gradient(90deg,#000 2%,#333 0,#333 98%,#000 0%)0 0 #333;
  background-size:40px 60px;
}

input {
  width: 100%;
  /*
  width: fit-content !important
  */
}

/* profile.js name input */
.input-profile {
  width: max-content;
}


button {
  cursor: pointer;
  width: inherit !important ;
}

/* hide form label text*/
legend {
  display: none;
}

/* form status and errors messages */
.error, .status {
  /*
  width: fit-content;
 */
}

/******************************************************/
/* FaceRecognition.js */
.bounding-box {
  position: absolute;

  box-shadow: 0 0 0 3px #FF5EDF inset;
  background-color: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .box-1 {
    max-width: 300px !important;
    height: auto !important;
  }
}
@media screen and (min-width: 401px) {
  .box-1 {
    max-width: 500px !important;
    height: auto !important;
  }
}

.box-1 {

}



/******************************************************/
/*ImageLinkForm.js, Profile.js */
/*break long words to stop overspill*/
.long-text {
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
  /* add hypens to line breaks, very cool! */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* profile.js, signout.js */
.center-all {
  text-align: center;
  justify-content: center;
}

/* text shadow effect*/
.text-shadow {
  filter: drop-shadow(5px 5px 9px #1d1d5f);
  text-align: center;
}

/******************************************************/
/*
DELETE??



*/





